.box-music-container{
   background-color:  hsla(0,0%,100%,.07);
   margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  position: relative; /* Added position relative */

}

.box-music-box{
    height: 257px;
    /* background-color: pink; */
    padding: 16px 0;  
    color: white;
}
.box-music-box {
    padding: 12px;
    margin-bottom: 4px;
}

.box-music-img {
   height: 70%;
   position: relative;
   border-radius: 0.5rem;

  
}
.box-music-img img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image covers the entire container */
    border-radius:0.5rem;

  }
  
.box-music-desc {
    white-space: normal;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 2.5em; /* (Line height) * (Number of lines) */
}


.playCircleFilledIcon{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    position: absolute;
    margin:0 8px 8px 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: #1ED760;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow:5px 8px 15px 2px black;

}

.box-music-container:hover{
    .playCircleFilledIcon{
        display: block;
    }
    background-color: #292929;
    
}

.box-music-container.light-theme{
    background-color: #E7E9EB;
    .box-music-box{
        color: black;
    }
}

.box-music-container.light-theme:hover{
    background-color: #a7a7a7;
    border-radius: 1rem;
    /* .box-music-box{
        color: black;
    } */
}